@tailwind base;
@tailwind components;
@tailwind utilities;
.ContenedorNosotros {
  height: 100%;
  width: 100%;
  grid-template-rows: max-content minmax(300px, 400px) 1fr 400px  max-content;
  grid-template-areas:
    "Header Header Header"
    "Cabecera Cabecera Cabecera"
    "Main Main Main"
    "Aside Aside Aside"
    "Footer Footer Footer";
  background-color: #fafdff;
}

.CabeceraNosotros {
  grid-area: Cabecera;
  background-image: url("https://images.pexels.com/photos/5018590/pexels-photo-5018590.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fafdff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  font-family: "Oswald", sans-serif;
}

.CabeceraNosotros h1 {
  color: #efb810;
  font-weight: bold;
  text-shadow: 2px 3px 2px #181818;
}
.CabeceraNosotros h2 {
  color: #fafdff;
  font-weight: 800;
  text-shadow: 2px 3px 2px #181818;
}

.MainNosotros {
  grid-area: Main;
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.widget{
  padding: 10px;
  gap: 10px;
}
.wid{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.wid i{
  font-size: 42px;
  color: #efb810;
  transition: transform .5s;
}

.wid:hover.wid i{
  transform: translateY(-20px);
}
.wid h2{
  font-size: 24px;
  color: #181818;
  align-self: start;
}
.wid p{
  color: #999;
  font-size: 16px;
}